nav{
    padding: 10px 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    border:2px solid black;
    border-radius: 5px;
    padding: 5px;
}

.features{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
    align-items: center;
}

.features a:active{
    text-decoration: underline;
    font-size: large;
}


.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    column-gap:20px;
}
